numpy==1.26.4
py4j==0.10.9.7
pyspark==3.5.5
PyYAML==6.0.2
setuptools==78.1.0
umap-learn==0.5.7
matplotlib~=3.10.1
pandas>= 0.23.2
kafka-python==2.2.10
pytest==7.4.2
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20